
h1 {
    font-family: "Freestyle Script", serif;
    color: #3F5431;
    font-size: 100px;
    margin: 1px;




}
#logo {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 10px;

}

div#pics{
  background-image: url("../img/back10.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #829399;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}


li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: ;
}




footer {
  font-family: "Freestyle Script", serif;
  color: #3F5431;
  font-size: 20px;
  margin: 1px;
  display: block;
  background-image: url("../img/Background1.png");
  background-repeat: repeat-repeat-x;
  float: bottom;

  width: 100%;

}
footer h3 {
  font-size: 50px;


}
footer h5 {
  font-size: 20px;
  color: #3F5431;
}
footer a{
  color: white;
  text-decoration: none;
}
footer svg {
  width: 20px;
  height: 20px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
