
.column#i {
  width: 45%;
  float: left;
  padding: 0;

}
.column#i {
  font-family: "Freestyle Script";
  font-size: x-large;
  margin: 1px;
  ;
}

a {font-family: "Freestyle Script";
  font-size: x-large;
  color: black;
}


.column#k {
  float: right;
  padding: 0;

  width: 45%;
  margin: 1px;
}
.column#k p{
  font-family: "Freestyle Script";
  font-size: x-large;

}
#o img {
  max-width: 500px;
  height: 360px;



}

#i img {
  max-width: 500px;
  height: 360px;

}
.column#o {
  float: right;
  width: auto;
}
.column#m {
  float: right;
  width: auto;
}
#m p {
  display: block;
}
.column#o {
  float: right;
  width: auto;
}
.column#m {
  float: left;
  width: auto;
}
#m p {
  display: block;
}
.column#x {
  float: right;
  width: auto;
}
.column#q {
  float: left;
  width: auto;
}
#q p {
  display: block;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
  @media screen and (max-width: 250px) {
    .column {
      max-width: 100%;
      float:right;
    }
  }
  @media screen and (max-width:250px) {
    .column #k{
      max-width: 100%;
      display: block;
      float: right;
    }
  }
  @media screen and (max-width: 250px) {
    .column #i{
      max-width: 100%;
      display: block;
      float: right;
    }
  }
