body {
    background: #F1F1F1;
    padding: 0;
    margin: 0;
    font-size: small;
}
#menu{
  padding:80px;
}
ul.square-menu {
    background-color: #ffffc4;
    list-style-type: none;
    list-style: none;
    padding: 100px;
    font-family: "Kavoon", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 380px;
    margin: 40px auto;
}
.row {
  display: inline;
}
ul.square-menu li{
    float: left;
    margin:5px;
}

ul.square-menu li a {
    display: block;
    text-decoration: none;
    padding: 80px 60px;
    /*background: rgb(128, 128, 128);*/
    color: black;
    font-weight: normal;
    font-size: 150%;
    width: 60px;
    height: 20px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
#pics imgs {
  width: 500px;
  height: 500px
  padding:200px;
}
.obr1 {
    background-image: url("../img/saladmaly.jpg");
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;

}


.obr2 {
    background-image: url("../img/sushimaly.jpg");
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}
.obr3 {
    background-image: url("../img/coffemaly.jpg");
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}
.obr4 {
    background-image: url("../img/exclusivemaly.jpg");
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}

ul.square-menu li a:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.12);
}
